<% content_for :data_container do %>
  <%= render Upload.new %>
<% end %>

<%= folder_breadcrumbs_for(@folder) %>

<div class="row">
  <div id="folders">
    <%= render @folder.folders %>
    <div class="folder-add col-md-2">
      <%= link_to '<span class="glyphicon glyphicon-plus"></span> folder'.html_safe, folders_path(parent_id: @folder), method: :post, class: "btn btn-warning btn-sm" %>
    </div>
  </div>
</div>
<div class="row">
  <div id="files">
    <%= render @folder.uploads %>
  </div>
  <div class="file-add col-md-2">
    <label for="fileupload" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-plus"></span> file
    </label>
    <input id="fileupload" type="file" name="files[]" data-url="<%= nginx_proxy_path(folder_id: @folder.to_param) %>" multiple>
  </div>
</div>
