<% content_for :data_container do %>
  <%= render Upload.new %>
<% end %>

<h1><%= @folder.name %></h1>

<%= link_to "Back", @folder.parent if @folder.parent %>

<div class="image-upload">
  <label for="fileupload">
    <%= image_tag "file-add.png", class: "file-add" %>
  </label>
  <input id="fileupload" type="file" name="files[]" data-url="<%= nginx_proxy_path(folder_id: @folder.to_param) %>" multiple>
</div>

<%= link_to image_tag("file-add.png", class: "file-add"), folders_path(parent_id: @folder), method: :post %>


<div id="folders">
  <%= render @folder.folders %>
</div>

<div id="files">
  <%= render @folder.uploads %>
</div>
