<div id="<%= item.view_id %>" class="item <%= item.new_record? && "new" || "real" %> col-xs-4 col-sm-3 col-md-3 col-lg-2" data-id="<%= item.to_param %>" data-url="<%= item.show_path %>">
  <div class="item-controls">
    <%= link_to item, method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this #{item.type}?" }, class: "delete" do %>
      <span class="glyphicon glyphicon-remove item-delete"></span>
    <% end %>
  </div>

  <div class="item-image">
    <span class="icon"><%= item.image_link %></span>
  </div>
  <div class="item-body">
    <div class="name item-title">
      <div class="item-name"><%= item.name %></div>
      <%= form_for(item, remote: true) do |f| %>
        <%= f.text_area :name, class: "item-name-text" %>
      <% end %>
    </div>
    <% if item.persisted? %>
      <div class="size"><span class="value"><%= number_to_human_size item.size %></span></div>
    <% end %>
  </div>
  <% if item.is_a?(FilePresenter) && item.new_record? %>
    <div class="progress"></div>
    <div class="cancel"></div>
  <% end %>
</div>
