<% page_title @item.name %>

<%= content_for :data_container do %>
  <% render FilePresenter.new(Upload.new) %>
  <% render @pasted_item if @pasted_item.present? %>
<% end %>

<%= content_for :javascript do %>
  MyFile.current_item_id = "<%= @item.to_param %>";
<% end %>

<div class="item-buttons">
  <%= file_add_button %>
  <%= folder_add_button %>
</div>

<%= folder_breadcrumbs_for(@item) %>

<div class="folder-container">
  <%= form_tag reorder_items_path, remote: true, id: "reorder-form" do %>
    <%= hidden_field_tag :new_order %>
  <% end %>
  <div id="items">
    <%= render @item.items %>
  </div>
</div>
