<% page_title @item.name %>

<%= content_for :data_container do %>
  <%= render FilePresenter.new(Upload.new) %>
  <%= render @pasted_item if @pasted_item.present? %>
<% end %>

<%= content_for :javascript do %>
  MyFile.current_item_id = "<%= @item.to_param %>";
<% end %>

<div class="item-actions">
  <%= file_add_button %>
  <%= folder_add_button %>
  <%= search_box %>
</div>

<%= folder_breadcrumbs_for(@item) %>

<%= render "list", items: @item.items %>
