<% page_title @item.name %>

<% content_for :data_container do %>
  <%= render FilePresenter.new(Upload.new) %>
<% end %>

<div class="item-buttons">
  <%= file_add_button %>
  <%= folder_add_button %>
</div>

<%= folder_breadcrumbs_for(@item) %>

<div class="folder-container">
  <%= form_tag reorder_items_path, remote: true, id: "reorder-form" do %>
    <%= hidden_field_tag :ids %>
  <% end %>
  <div id="items">
    <%= render @item.items %>
  </div>
</div>
