<% content_for :data_container do %>
  <%= render FilePresenter.new(Upload.new) %>
<% end %>

<%= folder_breadcrumbs_for(@item) %>

<div class="row">
  <div class="col-md-9">
    <h4><%= @item.name_link %></h4>
  </div>
  <div class="col-md-3">
    <%= file_add_button %>
    <%= folder_add_button %>
  </div>
</div>

<div class="row">
  <div id="items">
    <%= render @item.items %>
  </div>
</div>
